<div class="education-timeline" id="education">
    <h2>Education</h2>
    <div class="education-cards">
        <div class="education-item">
            <h3>Since 2022 - Computer Engineering</h3>
            <p><strong>Institut International de Technologie Sfax</strong></p>
            <p>Specialty: Software Engineering and business intelligence</p>
        </div>
        <div class="education-item">
            <h3>2022 - Bachelor’s Degree in Computer Science</h3>
            <p><strong>Higher Institute of Computer Science and Multimedia Sfax</strong></p>
            <p>Specialty: Big Data and Data Analytics</p>
        </div>
        <div class="education-item">
            <h3>2019 - Baccalaureate</h3>
            <p><strong>El Khalij High School Sfax</strong></p>
            <p>Section: Mathematics</p>
        </div>
    </div>
</div>
