<section class="about" id="about">
  <h2>About Me</h2>
  <p>
    Junior software engineer skilled in full-stack development, semantic web technologies, and AI-enhanced solutions. Strong foundation in modern frameworks and collaborative agile environments.
  </p>
  <h3>Skills</h3>
  <div class="tech-stack">
    <div *ngFor="let tech of techIcons" class="tech-icon">
      <fa-icon *ngIf="tech.icon" [icon]="tech.icon" size="3x"></fa-icon>
      <div *ngIf="!tech.icon" class="custom-icon" [class]="tech.iconClass"></div>
      <p>{{ tech.name }}</p>
    </div>
  </div>

  <h3>Tools I use</h3>
  <div class="tech-stack">
    <div *ngFor="let tech of ToolsIcons" class="tech-icon">
      <fa-icon *ngIf="tech.icon" [icon]="tech.icon" size="3x"></fa-icon>
      <div *ngIf="!tech.icon" class="custom-icon" [class]="tech.iconClass"></div>
      <p>{{ tech.name }}</p>
    </div>
  </div>
</section>