<header class="header">
    <div class="logo">CH.</div>
    <nav class="navbar">
        <a href="javascript:void(0)" (click)="scrollToSection('home')">Home</a>
        <a href="javascript:void(0)" (click)="scrollToSection('about')">About</a>
        <a href="javascript:void(0)" (click)="scrollToSection('education')">Education</a>
        <a href="javascript:void(0)" (click)="scrollToSection('experience')">Experience</a>
        <a href="javascript:void(0)" (click)="scrollToSection('projects')">Projects</a>
    </nav>
</header>