<div class="experience-timeline" id="experience">
    <h2>Experience</h2>
    <div class="experience-cards">
        <div class="experience-item">
            <h3>February 2025 - June 2025</h3>
            <p><strong>Software Engineer Intern</strong></p>
            <p>Primatec Engineering Sfax</p>
            <p>End-of-studies project</p>
        </div>
        <div class="experience-item">
            <h3>July 2024 - August 2024</h3>
            <p><strong>Full-stack Developer</strong></p>
            <p>Freedom Of Dev Services Sfax</p>
            <p>Summer Internship</p>
        </div>
        <div class="experience-item">
            <h3>February 2024 - May 2024</h3>
            <p><strong>Full-stack Developer</strong></p>
            <p>Freedom Of Dev Services Sfax</p>
            <p>End-of-Year Project</p>
        </div>
        <div class="experience-item">
            <h3>July 2023</h3>
            <p><strong>Full-stack Developer</strong></p>
            <p>CRN Sfax</p>
            <p>Summer Internship</p>
        </div>
        <div class="experience-item">
            <h3>February 2022 - June 2022</h3>
            <p><strong>Data Scientist</strong></p>
            <p>ISIM Sfax</p>
            <p>End-of-studies project</p>
        </div>
        <div class="experience-item">
            <h3>July 2021 - August 2021</h3>
            <p><strong>Python Developer</strong></p>
            <p>IODEV Sfax</p>
            <p>Summer Internship</p>
        </div>
    </div>
</div>
